{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-index min-vh-100 d-flex justify-content-center align-items-center position-relative">
  <!-- Background Animation -->
  <video class="background-animation" autoplay muted loop playsinline>
    <source src="{% static 'img/rocket_resized.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <!-- Tasks Button -->
  <a href="{% url 'tasks.index' %}" class="task-btn">>> Tasks >></a>
</div>
{% endblock content %}